<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
    <ion-buttons end filter>
      <button ion-button icon-right color="royal" (click)="filter()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let apartment of apartments | async">
    <img src="assets/img/apartment-log-in.jpg"/>
    <ion-card-content>
      <h2>{{apartment.address}}</h2>
      <h3>Rent Per Month: ${{apartment.rent}}</h3>
      <p>Number of Bedrooms: {{apartment.bedrooms}}</p>
      <p>Number of Bathrooms: {{apartment.bathrooms}}</p>
      <p>Square Feet: {{apartment.squarefeet}}</p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-right>
          Map
          <ion-icon name='pin'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
</ion-card>

</ion-content>
