<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>Home</ion-title>
      <ion-buttons end>
      <button ion-button (click)="addlisting()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="apartment">
    <ion-segment-button value="favorites">
      Favorites
    </ion-segment-button>
    <ion-segment-button value="user-listings">
      Your Listings
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="apartment">
    <ion-list *ngSwitchCase="'favorites'">
      <ion-card *ngFor="let apartment of apartments | async">
        <img src="assets/img/apartment-log-in.jpg"/>
        <ion-card-content>
          <h2>{{apartment.address}}</h2>
          <h3>Rent Per Month: ${{apartment.rent}}</h3>
          <p>Number of Bedrooms: {{apartment.bedrooms}}</p>
          <p>Number of Bathrooms: {{apartment.bathrooms}}</p>
          <p>Square Feet: {{apartment.squarefeet}}</p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="primary" icon-left>
              <ion-icon name='star'></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="primary" icon-right>
              Map
              <ion-icon name='pin'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'user-listings'">
      <ion-card *ngFor="let apartment of apartments | async">
        <img src="assets/img/apartment-log-in.jpg"/>
        <ion-card-content>
          <h2>{{apartment.address}}</h2>
          <h3>Rent Per Month: ${{apartment.rent}}</h3>
          <p>Number of Bedrooms: {{apartment.bedrooms}}</p>
          <p>Number of Bathrooms: {{apartment.bathrooms}}</p>
          <p>Square Feet: {{apartment.squarefeet}}</p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="primary" icon-left>
              <ion-icon name='star'></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="primary" icon-right>
              Map
              <ion-icon name='pin'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>
    </ion-list>
  </div>
</ion-content>
