page-home {
  ion-title {
    color: #FA8072//color($colors, header);
  }
  .home {
    background: #56CA96;
  }
  .description {
    font-size: .85em;
  }
  .headings {
    text-align: center;
    font-size: 1.25em;
  }

}
