<!--
  Generated template for the Addlisting page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Listing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input [(ngModel)]="address" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rental Cost</ion-label>
      <ion-input [(ngModel)]="cost" type="text"></ion-input>
    </ion-item>

    <ion-item>
          <ion-label>Bedrooms</ion-label>
          <ion-select [(ngModel)]="bedrooms">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
            <ion-option value="8">8</ion-option>
            <ion-option value="9">9</ion-option>
            <ion-option value="10">10</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Bathrooms</ion-label>
            <ion-select [(ngModel)]="bathrooms">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
              <ion-option value="4">4</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="6">6</ion-option>
              <ion-option value="7">7</ion-option>
              <ion-option value="8">8</ion-option>
              <ion-option value="9">9</ion-option>
              <ion-option value="10">10</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Square Feet</ion-label>
            <ion-input [(ngModel)]="squarefeet" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Number of Pets</ion-label>
            <ion-select [(ngModel)]="pets">
              <ion-option value="0">0</ion-option>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
              <ion-option value="4">4</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="6">6</ion-option>
              <ion-option value="7">7</ion-option>
              <ion-option value="8">8</ion-option>
              <ion-option value="9">9</ion-option>
              <ion-option value="10">10</ion-option>
            </ion-select>
          </ion-item>

    <ion-item>
      <button ion-button block color="primary" (click)="pictureAdded()">Add Picture</button>
      <img [src]="AptPicture" *ngIf="AptPicture"/>
      <button ion-button block color="primary" (click)="Confirm()" *ngIf="AptPicture">Confirm</button>
      </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block color="primary" (click)="addlisting(address, cost, bedrooms, bathrooms, squarefeet, pets)">Add Listing</button>
  </div>

</ion-content>
